<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phucdvb.drawer">
    <application>
        <activity
            android:name=".DrawerActivity"
            android:exported="true"
            android:theme="@style/Theme.Drawer"
            android:requestLegacyExternalStorage="true">
            <intent-filter>
                <action android:name="phucdv.intent.action.HAND_DRAWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>