<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="phucdv.android.magicnote">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MagicNoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicNote"
        tools:replace="android:icon,android:roundIcon,android:theme">
        <activity
            android:name=".authentic.UpdatePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:parentActivityName=".MagicNoteActivity"
            android:theme="@style/Theme.MagicNote.NoActionBar" />

        <service
            android:name=".widget.PinNoteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widget.PinNoteWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pin_note_widget_info" />
        </receiver>
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="phucdv.android.action.SET_UP_ALARM" />
                <action android:name="phucdv.android.action.FIRE_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".sync.DataSyncReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="phucdv.android.action.SYNC_UP" />
                <action android:name="phucdv.android.action.SYNC_DOWN" />
                <action android:name="phucdv.android.action.SYNC" />
                <action android:name="phucdv.android.action.CANCEL_ALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".widget.PinNoteWidgetConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MagicNoteActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagicNote.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="phucdv.action.ACTION_NEW_NOTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".authentic.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagicNote.NoActionBar" />
        <activity
            android:name=".authentic.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagicNote.NoActionBar" />
        <activity
            android:name=".sync.BackUpActivity"
            android:exported="true"
            android:parentActivityName=".MagicNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagicNote.NoActionBar" />
        <activity
            android:name=".authentic.ResetPasswordActivity"
            android:exported="true"
            android:parentActivityName=".authentic.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagicNote.NoActionBar" />
    </application>

</manifest>